{% extends "blog/base.html" %}
{% block content %}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--  Datatables  -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>

    <!--  extension responsive  -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <title>Advamed - Service Record</title>


</head>
<body>

<br/><br/><br/>
<h2 class="mb-3" style="color: #0c3c60">Records by {{ view.kwargs.username }}</h2>

<div class="container">
    <div class="row">
        <div>
            <table id="example" class="table table-bordered  display nowrap" cellspacing="0" width="100%">
                <style>
                    th {
                    text-align: center;
                    }

                    td {
                    text-align: center;
                    }
                </style>
                <thead style="background-color:#1787e3;color: white;">
                <tr>
                    <th style="background-color: #7b44f2;" colspan="12">Repair Request</th>
                    <th style="background-color: #2ced28;" colspan="3">Repair Receive</th>
                    <th style="background-color: #ea28ed;" colspan="6">Assign Order</th>
                    <th style="background-color: #28b9ed;" colspan="1">Case Status</th>
                    <th style="background-color: #9c9c9c;" colspan="10">Service Record</th>
                </tr>
                <tr>
                    <th>&nbsp;Case No.&nbsp;</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Name of Hospital</th>
                    <th>Contact Person</th>
                    <th>Contact Number</th>
                    <th>Product Description</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>S/N</th>
                    <th>Complaint</th>
                    <th>Referred by</th>
                    <th>Receiver Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Assign By</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Expected Duration</th>
                    <th>Assign To</th>
                    <th>Remark</th>
                    <th>Open/Close</th>
                    <th>Service Report Doc. No.</th>
                    <th>Inception</th>
                    <th>Repair Description</th>
                    <th>Spare Part Request Doc. No.</th>
                    <th>Warranty Card No.</th>
                    <th>Service Start Date</th>
                    <th>Service Finished Date</th>
                    <th>Service Total Time</th>
                    <th>Remark</th>
                    <th>Recorded by</th>
                </tr>
                </thead>
                <tbody>

                {% for service_record_data in service_records %}
                <tr>
                    <td>
                        <a href="{% url 'service_record_data-detail' service_record_data.id %}">
                            {{ service_record_data.case_no }}
                        </a>
                    </td>
                    <td>{{ service_record_data.date }}</td>
                    <td>{{ service_record_data.time }}</td>
                    <td>{{ service_record_data.name_of_hospital }}</td>
                    <td>{{ service_record_data.contact_person }}</td>
                    <td>{{ service_record_data.contact_number }}</td>
                    <td>{{ service_record_data.product_description }}</td>
                    <td>{{ service_record_data.brand }}</td>
                    <td>{{ service_record_data.model }}</td>
                    <td>{{ service_record_data.s_n }}</td>
                    <td>{{ service_record_data.complaint }}</td>
                    <td>{{ service_record_data.referred_by }}</td>
                    <td>{{ service_record_data.receiver_name }}</td>
                    <td>{{ service_record_data.receive_date }}</td>
                    <td>{{ service_record_data.receive_time }}</td>
                    <td>{{ service_record_data.assign_by }}</td>
                    <td>{{ service_record_data.assign_date }}</td>
                    <td>{{ service_record_data.assign_time }}</td>
                    <td>{{ service_record_data.expected_duration }}</td>
                    <td>{{ service_record_data.assign_to }}</td>
                    <td>{{ service_record_data.assign_order_remark }}</td>
                    <td>{{ service_record_data.open_close }}</td>
                    <td>{{ service_record_data.service_report_doc_no }}</td>
                    <td>{{ service_record_data.inspection }}</td>
                    <td>{{ service_record_data.repair_description }}</td>
                    <td>{{ service_record_data.spare_part_request_doc_no }}</td>
                    <td>{{ service_record_data.warranty_card_no }}</td>
                    <td>{{ service_record_data.service_start_date }}</td>
                    <td>{{ service_record_data.service_finished_date }}</td>
                    <td>{{ service_record_data.service_total_time }}</td>
                    <td>{{ service_record_data.service_remark }}</td>
                    <td>{{ service_record_data.recorded_by }}</td>
                </tr>
                {% endfor %}





                </tbody>
                <tfoot style="background-color:#1787e3;color: white;">
                <tr>
                    <th>&nbsp;Case No.&nbsp;</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Name of Hospital</th>
                    <th>Contact Person</th>
                    <th>Contact Number</th>
                    <th>Product Description</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>S/N</th>
                    <th>Complaint</th>
                    <th>Referred by</th>
                    <th>Receiver Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Assign By</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Expected Duration</th>
                    <th>Assign To</th>
                    <th>Remark</th>
                    <th>Open/Close</th>
                    <th>Service Report Doc. No.</th>
                    <th>Inception</th>
                    <th>Repair Description</th>
                    <th>Spare Part Request Doc. No.</th>
                    <th>Warranty Card No.</th>
                    <th>Service Start Date</th>
                    <th>Service Finished Date</th>
                    <th>Service Total Time</th>
                    <th>Remark</th>
                    <th>Recorded by</th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--   Datatables-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

<!-- extension responsive -->
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>



<script>
    $(document).ready(function() {
        $('#example').DataTable({
            responsive: true
        });
    } );

    </script>


</body>
</html>

{% endblock content %}
