{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
{% block content %}
<title>Advamed - Register</title>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
</div>
{% endblock content %}

{% else %}

<h1>You are not belong here</h1>

{% endif %}